header.header 
    .container  
        .row.align-items-center 
            .col-3
                .inner-logo 
                    a(href="/") 
                        img(src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1721368800&semt=sph", alt="logo image") 
            .col-9 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ  
                        li 
                            a(href="/products") Sản phẩm  