body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #262626;
    padding: 15px 0;
    z-index: 100;
}

header .inner-logo a{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

header .inner-logo a:hover{
    text-decoration: none;
}

.body{
    display: flex;
    height: calc(100vh - 66px);
}

.body .sider{
    width: 150px;
    background-color: #333333;
    height: 100%;
}

.body .sider ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

.body .sider ul li a{
    color: #fff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #515151;
    text-decoration: none;
}

.body .sider ul li a:hover{
    color: #acacac;
}


.body .main{
    padding: 10px 20px;
    overflow-y: auto;
    flex: 1;
}

/* ----show alert----- */
[show-alert]{
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 999;
}

[show-alert].hidden-alert{
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both; /*biến mất luôn*/
}

@keyframes alert-hidden{
    from{
        right: 20px;
    }
    to{
        right: -100%;
        display: none;
    }
}
[show-alert] [close-alert]{
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
/* ----end show alert----- */

/* -----preview image ----- */
[preview-image]{
    width: 150px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

[preview-image][src=""]{
    display: none;
}
/* -----end preview image ----- */